@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121214;
  --foreground: #C4C4CC;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
